<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
	 xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util"
	 xmlns:Json="http://schemas.hegsie.com/wix/JsonExtension">

	<Fragment>
		<DirectoryRef Id="ServicesFolder">
			<Directory Id="INSTALLLOCATIONPROD" Name="ActionServiceProd">
				<Component Id="DeployMonitorServiceProd.exe" Guid="{1578E477-0315-4495-B0C3-EAEEEDC9AF38}">

					<ServiceInstall Id="DeployActionServiceProd" Type="ownProcess" Vital="yes" Name="DeploymentActionServiceProd" DisplayName="DOrc Monitor Production" Start="demand" ErrorControl="ignore" Interactive="no" Account="[SVC.ACCOUNTPROD]" Password="[SVC.PASSWORDPROD]" />

					<ServiceControl Id="DeployMonitorServiceProdStartService" Wait="yes" Stop="both" Remove="uninstall" Name="DeployMonitorServiceProd" />

					<File Id="ProdDeployMonitorExe" KeyPath="yes" Source="$(var.Dorc.Monitor.TargetDir)DOrc.Monitor.exe" />

					<Json:JsonFile Id="SetCoreRunnerPathProd" ElementPath="$.AppSettings.DotNetCoreDeploymentRunnerPath" File="[#ProdDeployMonitorExeConfig]" Value="[#ProdDorcRunnerExe]" />
					<Json:JsonFile Id="SetFrameworkRunnerPathProd" ElementPath="$.AppSettings.DotNetFrameworkDeploymentRunnerPath" File="[#ProdDeployMonitorExeConfig]" Value="[#ProdDeployRunnerExe]" />
					<Json:JsonFile Id="SetTerraformRunnerPathProd" ElementPath="$.AppSettings.TerraformDeploymentRunnerPath" File="[#ProdDeployMonitorExeConfig]" Value="[#ProdTerraformRunnerExe]" />

					<Json:JsonFile Id="SetIsProductionProd" ElementPath="$.AppSettings.IsProduction" Value="True" File="[#ProdDeployMonitorExeConfig]" />

					<Json:JsonFile Id="SetServiceNameProd" ElementPath="$.AppSettings.ServiceName" Value="DeploymentActionServiceProd" File="[#ProdDeployMonitorExeConfig]" />

					<Json:JsonFile Id="SetDbConnectionString1Prod" ElementPath="$.ConnectionStrings.DOrcConnectionString" Value="Data Source=[DEPLOYMENT.DBSERVER];Initial Catalog=[DEPLOYMENT.DB];Integrated Security=SSPI;MultipleActiveResultSets=true;TrustServerCertificate=true" File="[#ProdDeployMonitorExeConfig]" />

					<Json:JsonFile Id="SetRefDataApiUrlProd" ElementPath="$.AppSettings.RefDataApiUrl" File="[#ProdDeployMonitorExeConfig]" Value="[DEPLOYAPI.ENDPOINT]/" />

					<util:XmlFile Id="ProdXmlLog" Action="setValue" ElementPath="/log4net/appender/file/@value" File="[#ProdLog4NetConfig]" Value="c:\\Log\\DOrc\\Deploy\\Services\\MonitorProd.log" />

					<Json:JsonFile Id="DomainNameIntraProd" ElementPath="$.AppSettings.DomainNameIntra" File="[#ProdDeployMonitorExeConfig]" Value="[DOMAINNAMEINTRA]" />
					<Json:JsonFile Id="SMTPHostProd" ElementPath="$.AppSettings.SMTPHost" File="[#ProdDeployMonitorExeConfig]" Value="[SMTPHOST]" />
					<Json:JsonFile Id="ScriptRootProd" ElementPath="$.AppSettings.ScriptRoot" File="[#ProdDeployMonitorExeConfig]" Value="[SCRIPT.FOLDER]" />
					<Json:JsonFile Id="RunnerLogPathProd" ElementPath="$.AppSettings.RunnerLogPath" File="[#ProdDeployMonitorExeConfig]" Value="c:\Log\DOrc\Deploy\Services\Requests" />
				</Component>

				<Directory Id="INSTALLLOCATIONDORCRUNNERPROD" Name="DorcRunner">
					<Component Id="DeployMonitorServiceDorcRunnerProd.exe" Guid="{E97FFF42-7346-4934-8E63-11FEC7BD8425}">
						<Json:JsonFile Id="DorcRunnerProdExeConfig" File="[#ProdDorcRunnerExeConfig]" ElementPath="$.ConnectionStrings.DOrcConnectionString" Value="Data Source=[DEPLOYMENT.DBSERVER];Initial Catalog=[DEPLOYMENT.DB];Integrated Security=SSPI;MultipleActiveResultSets=true;TrustServerCertificate=true"  />
						<Json:JsonFile Id="DorcRunnerProdExeOpenSearchSettingsUriConfig" File="[#ProdDorcRunnerExeConfig]" ElementPath="$.OpenSearchSettings.ConnectionUri" Value="[OPENSEARCH.URI]"  />
						<Json:JsonFile Id="DorcRunnerProdExeOpenSearchSettingsUserNameConfig" File="[#ProdDorcRunnerExeConfig]" ElementPath="$.OpenSearchSettings.UserName" Value="[OPENSEARCH.USERNAME]"  />
						<Json:JsonFile Id="DorcRunnerProdExeOpenSearchSettingsPasswordConfig" File="[#ProdDorcRunnerExeConfig]" ElementPath="$.OpenSearchSettings.Password" Value="[OPENSEARCH.PASSWORD]"  />
						<Json:JsonFile Id="DorcRunnerProdExeOpenSearchSettingsDeploymentResultIndexConfig" File="[#ProdDorcRunnerExeConfig]" ElementPath="$.OpenSearchSettings.DeploymentResultIndex" Value="[OPENSEARCH.DEPLOYMENTRESULTINDEX]"  />
						<Json:JsonFile Id="DorcRunnerProdExeOpenSearchSettingsEnvironmentConfig" File="[#ProdDorcRunnerExeConfig]" ElementPath="$.OpenSearchSettings.Environment" Value="[ENVIRONMENT]"  />
						<Json:JsonFile Id="DorcRunnerProdExeOpenSearchSettingsEnvironmentTierConfig" File="[#ProdDorcRunnerExeConfig]" ElementPath="$.OpenSearchSettings.EnvironmentTier" Value="[ENVIRONMENT.TIER]"  />
					</Component>
				</Directory>

				<Directory Id="INSTALLLOCATIONDEPLOYRUNNERPROD" Name="DeployRunner">
					<Component Id="DeployMonitorServiceDeployRunnerProd.exe" Guid="{E96FFF42-7346-4934-8E63-11FEC7BD8425}">
						<Json:JsonFile Id="DeployRunnerProdExeConfig" File="[#ProdDeployRunnerExeConfig]" ElementPath="$.ConnectionStrings.DOrcConnectionString" Value="Data Source=[DEPLOYMENT.DBSERVER];Initial Catalog=[DEPLOYMENT.DB];Integrated Security=SSPI;MultipleActiveResultSets=true;TrustServerCertificate=true"  />
						<Json:JsonFile Id="DeployRunnerProdExeOpenSearchSettingsUriConfig" File="[#ProdDeployRunnerExeConfig]" ElementPath="$.OpenSearchSettings.ConnectionUri" Value="[OPENSEARCH.URI]"  />
						<Json:JsonFile Id="DeployRunnerProdExeOpenSearchSettingsUserNameConfig" File="[#ProdDeployRunnerExeConfig]" ElementPath="$.OpenSearchSettings.UserName" Value="[OPENSEARCH.USERNAME]"  />
						<Json:JsonFile Id="DeployRunnerProdExeOpenSearchSettingsPasswordConfig" File="[#ProdDeployRunnerExeConfig]" ElementPath="$.OpenSearchSettings.Password" Value="[OPENSEARCH.PASSWORD]"  />
						<Json:JsonFile Id="DeployRunnerProdExeOpenSearchSettingsDeploymentResultIndexConfig" File="[#ProdDeployRunnerExeConfig]" ElementPath="$.OpenSearchSettings.DeploymentResultIndex" Value="[OPENSEARCH.DEPLOYMENTRESULTINDEX]"  />
						<Json:JsonFile Id="DeployRunnerProdExeOpenSearchSettingsEnvironmentConfig" File="[#ProdDeployRunnerExeConfig]" ElementPath="$.OpenSearchSettings.Environment" Value="[ENVIRONMENT]"  />
						<Json:JsonFile Id="DeployRunnerProdExeOpenSearchSettingsEnvironmentTierConfig" File="[#ProdDeployRunnerExeConfig]" ElementPath="$.OpenSearchSettings.EnvironmentTier" Value="[ENVIRONMENT.TIER]"  />
					</Component>
				</Directory>

				<Directory Id="INSTALLLOCATIONTERRAFORMRUNNERPROD" Name="TerraformRunner">
					<Component Id="DeployMonitorServiceTerraformRunnerProd.exe" Guid="{81B77E98-85D9-4A9D-83EC-C6392D562951}">
						<Json:JsonFile Id="TerraformRunnerProdExeConfig" File="[#ProdTerraformRunnerExeConfig]" ElementPath="$.ConnectionStrings.DOrcConnectionString" Value="Data Source=[DEPLOYMENT.DBSERVER];Initial Catalog=[DEPLOYMENT.DB];Integrated Security=SSPI;MultipleActiveResultSets=true;TrustServerCertificate=true"  />
						<Json:JsonFile Id="TerraformRunnerProdExeOpenSearchSettingsUriConfig" File="[#ProdTerraformRunnerExeConfig]" ElementPath="$.OpenSearchSettings.ConnectionUri" Value="[OPENSEARCH.URI]"  />
						<Json:JsonFile Id="TerraformRunnerProdExeOpenSearchSettingsUserNameConfig" File="[#ProdTerraformRunnerExeConfig]" ElementPath="$.OpenSearchSettings.UserName" Value="[OPENSEARCH.USERNAME]"  />
						<Json:JsonFile Id="TerraformRunnerProdExeOpenSearchSettingsPasswordConfig" File="[#ProdTerraformRunnerExeConfig]" ElementPath="$.OpenSearchSettings.Password" Value="[OPENSEARCH.PASSWORD]"  />
						<Json:JsonFile Id="TerraformRunnerProdExeOpenSearchSettingsDeploymentResultIndexConfig" File="[#ProdTerraformRunnerExeConfig]" ElementPath="$.OpenSearchSettings.DeploymentResultIndex" Value="[OPENSEARCH.DEPLOYMENTRESULTINDEX]"  />
						<Json:JsonFile Id="TerraformRunnerProdExeOpenSearchSettingsEnvironmentConfig" File="[#ProdTerraformRunnerExeConfig]" ElementPath="$.OpenSearchSettings.Environment" Value="[ENVIRONMENT]"  />
						<Json:JsonFile Id="TerraformRunnerProdExeOpenSearchSettingsEnvironmentTierConfig" File="[#ProdTerraformRunnerExeConfig]" ElementPath="$.OpenSearchSettings.EnvironmentTier" Value="[ENVIRONMENT.TIER]"  />
					</Component>
				</Directory>
			</Directory>
		</DirectoryRef>
	</Fragment>
</Wix>