<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:iis="http://wixtoolset.org/schemas/v4/wxs/iis" xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util"
	 xmlns:Json="http://schemas.hegsie.com/wix/JsonExtension">
  <Fragment>
    <CustomAction Id="ReconfigureLoadUserProfileRequestApi" Directory="RequestApi" Execute="deferred" Impersonate="no" ExeCommand="[System64Folder]inetsrv\AppCmd.exe set apppool &quot;DeployApi&quot; -processmodel.loaduserprofile:true" Return="ignore" />

	<Binary Id="certBinaryApi" SourceFile="DorcNonProdSSLCert.pfx"/>
	<Binary Id="certBinaryApiProd" SourceFile="dorc.sefe.eu.pfx"/>

	<Component Id="RequestApiComponent" Guid="6c4716f9-3b27-4866-b0c6-4941658b0bab" KeyPath="yes" Directory="RequestApi" Condition="ENVIRONMENTISPRODUCTION = &quot;FALSE&quot;">
        <util:User Id="ApiUser" Name="[SERVICE.IDENTITY]" Password="[SERVICE.PASSWORD]" CreateUser="no" RemoveOnUninstall="no" LogonAsService="yes" />
        <iis:WebAppPool Id="DeployApiPool" Name="DeployApi" Identity="other" RecycleMinutes="0" ManagedRuntimeVersion="v4.0" ManagedPipelineMode="Integrated" User="ApiUser">
			<iis:RecycleTime Value="2:00" />
		</iis:WebAppPool>

		<iis:Certificate
		 BinaryRef="certBinaryApi"
		 Id="MySSLCertApi"
		 Name="DorcNonProdSSLCert.pfx"
		 Request="no"
		 StoreLocation="localMachine"
		 StoreName="root"
		 PFXPassword="[CERTIFICATE.PASSWORD]">
		</iis:Certificate>
		
        <iis:WebSite Id="DOrcApi" SiteId="*" Description="DOrcApi" ConfigureIfExists="yes" AutoStart="yes" StartOnInstall="yes" Directory="RequestApi">
          <iis:WebDirProperties Id="SiteDirProperties" AnonymousAccess="yes" BasicAuthentication="no" WindowsAuthentication="yes" AuthenticationProviders="Negotiate,NTLM" />
		  <iis:WebAddress Id="AllUnassigned" Port="8443"  Secure="true" />
		  <iis:CertificateRef Id='MySSLCertApi' />
          <iis:WebApplication Id="DOrcApiWebApp" WebAppPool="DeployApiPool" Name="DOrcApi" />
        </iis:WebSite>
        <Json:JsonFile Id="ReqApiConnectionString" File="[#DeployApiWebConfig]" ElementPath="$.ConnectionStrings.DOrcConnectionString" Value="Data Source=[DEPLOYMENT.DBSERVER];Initial Catalog=[DEPLOYMENT.DB];Integrated Security=SSPI;MultipleActiveResultSets=true;TrustServerCertificate=true" />

        <Json:JsonFile Id="WebRequestApiCors" ElementPath="$.AppSettings.AllowedCORSLocations" File="[#DeployApiWebConfig]" Value="[DEPLOYMENTORCHESTRATOR.CORS]" />

        <Json:JsonFile Id="ADRoleProviderConfigRequestApiAdmin" ElementPath="$.AppSettings.ActiveDirectoryRoles.Admin" File="[#DeployApiWebConfig]" Value="[AD.ROLEPROVIDER.GROUP.ADMIN]" />
        <Json:JsonFile Id="ADRoleProviderConfigRequestApiPowerUser" ElementPath="$.AppSettings.ActiveDirectoryRoles.PowerUser" File="[#DeployApiWebConfig]" Value="[AD.ROLEPROVIDER.GROUP.POWERUSER]" />

        <Json:JsonFile Id="ReqApiUrl" ElementPath="$.AppSettings.RefDataApiUrl" File="[#DeployApiWebConfig]" Value="[DEPLOYAPI.ENDPOINT]/" />

		<Json:JsonFile Id="CurrentEnvironment" ElementPath="$.AppSettings.environment" File="[#DeployApiWebConfig]" Value="[ENVIRONMENT]" />
		
		<Json:JsonFile Id="CurrentAadAdosOrgUrl" ElementPath="$.AppSettings.AadAdosOrgUrl" File="[#DeployApiWebConfig]" Value="[AADADOSORGURL]" />
		<Json:JsonFile Id="CurrentAadClientId" ElementPath="$.AppSettings.AadClientId" File="[#DeployApiWebConfig]" Value="[AADCLIENTID]" />
		<Json:JsonFile Id="CurrentAadSecret" ElementPath="$.AppSettings.AadSecret" File="[#DeployApiWebConfig]" Value="[AADSECRET]" />
		<Json:JsonFile Id="CurrentAadTenant" ElementPath="$.AppSettings.AadTenant" File="[#DeployApiWebConfig]" Value="[AADTENANT]" />
		<Json:JsonFile Id="CurrentDomainNameIntra" ElementPath="$.AppSettings.DomainNameIntra" File="[#DeployApiWebConfig]" Value="[DOMAINNAMEINTRA]" />
      </Component>

	  <Component Id="RequestApiComponentProd" Guid="{2B641300-DCCB-4817-90D8-2A5B0C59AD11}" KeyPath="yes" Directory="RequestApi" Condition="ENVIRONMENTISPRODUCTION = &quot;TRUE&quot;">
		  <util:User Id="ApiUserProd" Name="[SERVICE.IDENTITY]" Password="[SERVICE.PASSWORD]" CreateUser="no" RemoveOnUninstall="no" LogonAsService="yes" />
		  <iis:WebAppPool Id="DeployApiPoolProd" Name="DeployApi" Identity="other" RecycleMinutes="0" ManagedRuntimeVersion="v4.0" ManagedPipelineMode="Integrated" User="ApiUser">
			  <iis:RecycleTime Value="2:00" />
		  </iis:WebAppPool>

		  <iis:Certificate
		   BinaryRef="certBinaryApiProd"
		   Id="MySSLCertApiProd"
		   Name="dorc.sefe.eu.pfx"
		   Request="no"
		   StoreLocation="localMachine"
		   StoreName="root"
		   PFXPassword="[CERTIFICATE.PASSWORD]">
		  </iis:Certificate>

		  <iis:WebSite Id="DOrcApiProd" SiteId="*" Description="DOrcApi" ConfigureIfExists="yes" AutoStart="yes" StartOnInstall="yes" Directory="RequestApi">
			  <iis:WebDirProperties Id="SiteDirPropertiesProd" AnonymousAccess="yes" BasicAuthentication="no" WindowsAuthentication="yes" AuthenticationProviders="Negotiate,NTLM" />
			  <iis:WebAddress Id="AllUnassignedProd" Port="8443"  Secure="true" />
			  <iis:CertificateRef Id='MySSLCertApiProd' />
			  <iis:WebApplication Id="DOrcApiWebAppProd" WebAppPool="DeployApiPoolProd" Name="DOrcApi" />
		  </iis:WebSite>
		  <Json:JsonFile Id="ReqApiConnectionStringProd" File="[#DeployApiWebConfig]" ElementPath="$.ConnectionStrings.DOrcConnectionString" Value="Data Source=[DEPLOYMENT.DBSERVER];Initial Catalog=[DEPLOYMENT.DB];Integrated Security=SSPI;MultipleActiveResultSets=true;TrustServerCertificate=true" />

		  <Json:JsonFile Id="WebRequestApiCorsProd" ElementPath="$.AppSettings.AllowedCORSLocations" File="[#DeployApiWebConfig]" Value="[DEPLOYMENTORCHESTRATOR.CORS]" />

		  <Json:JsonFile Id="ADRoleProviderConfigRequestApiAdminProd" ElementPath="$.AppSettings.ActiveDirectoryRoles.Admin" File="[#DeployApiWebConfig]" Value="[AD.ROLEPROVIDER.GROUP.ADMIN]" />
		  <Json:JsonFile Id="ADRoleProviderConfigRequestApiPowerUserProd" ElementPath="$.AppSettings.ActiveDirectoryRoles.PowerUser" File="[#DeployApiWebConfig]" Value="[AD.ROLEPROVIDER.GROUP.POWERUSER]" />

		  <Json:JsonFile Id="ReqApiUrlProd" ElementPath="$.AppSettings.RefDataApiUrl" File="[#DeployApiWebConfig]" Value="[DEPLOYAPI.ENDPOINT]/" />

		  <Json:JsonFile Id="CurrentEnvironmentProd" ElementPath="$.AppSettings.environment" File="[#DeployApiWebConfig]" Value="[ENVIRONMENT]" />

		  <Json:JsonFile Id="CurrentAadAdosOrgUrlProd" ElementPath="$.AppSettings.AadAdosOrgUrl" File="[#DeployApiWebConfig]" Value="[AADADOSORGURL]" />
		  <Json:JsonFile Id="CurrentAadClientIdProd" ElementPath="$.AppSettings.AadClientId" File="[#DeployApiWebConfig]" Value="[AADCLIENTID]" />
		  <Json:JsonFile Id="CurrentAadSecretProd" ElementPath="$.AppSettings.AadSecret" File="[#DeployApiWebConfig]" Value="[AADSECRET]" />
		  <Json:JsonFile Id="CurrentAadTenantProd" ElementPath="$.AppSettings.AadTenant" File="[#DeployApiWebConfig]" Value="[AADTENANT]" />
		  <Json:JsonFile Id="CurrentDomainNameIntraProd" ElementPath="$.AppSettings.DomainNameIntra" File="[#DeployApiWebConfig]" Value="[DOMAINNAMEINTRA]" />
	  </Component>
  </Fragment>
</Wix>