**/.vs
**/.vscode
**/bin
**/obj
**/node_modules
**/.git
**/TestResults
**/Setup.Dorc
**/Setup.Acceptance
**/*.user
**/*.suo
**/Dorc.NetFramework.Runner
**/Dorc.NetFramework.PowerShell
**/Tools.DOrc.Cmdlet
**/.idea
**/images
**/docs
**/*.md
!src/dorc-web/package*.json
