<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:Json="http://schemas.hegsie.com/wix/JsonExtension">
  <Fragment>
        <DirectoryRef Id="DeployCopyEnvBuildDir">

          <Component Id="DeployCopyEnvBuildConfigSetup" DiskId="1" KeyPath="yes" Guid="5ce836a5-a5d5-4314-b904-067043009bb8">
			  <Json:JsonFile Id="DeployCopyEnvBuildConfigDOrcConnectionString" ElementPath="$.ConnectionStrings.DOrcConnectionString" Value="Data Source=[DEPLOYMENT.DBSERVER];Initial Catalog=[DEPLOYMENT.DB];Integrated Security=SSPI;MultipleActiveResultSets=true;TrustServerCertificate=true" File="[#ToolsDeployCopyEnvBuildConfig];MultiSubnetFailover=True" />
          </Component>
        </DirectoryRef>
  </Fragment>
</Wix>