<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:Json="http://schemas.hegsie.com/wix/JsonExtension">
  <Fragment>
    <DirectoryRef Id="PostRestoreEndurDir">
      <Component Id="PostRestoreEndurConfigSetup" DiskId="1" KeyPath="yes" Guid="{D2AB46DA-5A2B-4111-8EB4-38E8D142FAF5}">
        <Json:JsonFile Id="PREDorcApiUrl" ElementPath="$.DorcApi.BaseUrl" Value="[DEPLOYAPI.ENDPOINT]" File="[#PostRestoreEndurConfig]" />
        <Json:JsonFile Id="PREDorcApiClientId" ElementPath="$.DorcApi.ClientId" Value="[DORC.API.CLIENTID]" File="[#PostRestoreEndurConfig]" />
        <Json:JsonFile Id="PREDorcApiClientSecret" ElementPath="$.DorcApi.ClientSecret" Value="[DORC.API.CLIENTSECRET]" File="[#PostRestoreEndurConfig]" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>