<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:Json="http://schemas.hegsie.com/wix/JsonExtension">
  <Fragment>
      <DirectoryRef Id="RequestDir" >
        <Component Id="ToolsRequestConfigSetup" Guid="{AC31A032-30D6-48A8-A322-086DF884A2A2}">
        <Json:JsonFile Id="DorcApiUrl" ElementPath="$.DorcApi.BaseUrl" Value="[DEPLOYAPI.ENDPOINT]" File="[#ToolsRequestConfig]" />
        <Json:JsonFile Id="DorcApiClientId" ElementPath="$.DorcApi.ClientId" Value="[DORC.API.CLIENTID]" File="[#ToolsRequestConfig]" />
        <Json:JsonFile Id="DorcApiClientSecret" ElementPath="$.DorcApi.ClientSecret" Value="[DORC.API.CLIENTSECRET]" File="[#ToolsRequestConfig]" />

          <CreateFolder/>
        </Component>
      </DirectoryRef>
  </Fragment>
</Wix>